MVC Tutorial/Service References/DataContractTutorial/IDataContractTutorial3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Tutorial.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Tutorial.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseKnownTypeDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseKnownTypeDataContract" nillable="true" type="tns:BaseKnownTypeDataContract" />
  <xs:complexType name="KnownTypeDataContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseKnownTypeDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="VersionNumber" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KnownTypeDataContract" nillable="true" type="tns:KnownTypeDataContract" />
</xs:schema>