MVC Tutorial/Service References/DataContractTutorial/IDataContractTutorial2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65243/Service/IDataContractTutorial.svc?xsd=xsd2" namespace="MyNamespace" />
  <xs:import schemaLocation="http://localhost:65243/Service/IDataContractTutorial.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF_Tutorial.DataContract" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="MyNamespace" minOccurs="0" name="contract" nillable="true" type="q1:CompositeDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KnownTypeExample">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Tutorial.DataContract" minOccurs="0" name="contract" nillable="true" type="q2:BaseKnownTypeDataContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KnownTypeExampleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>