MVC Tutorial/Service References/DataContractTutorial/IDataContractTutorial1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="MyNamespace" elementFormDefault="qualified" targetNamespace="MyNamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompositeContract" nillable="true" type="tns:NamespaceDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeDataContract" nillable="true" type="tns:CompositeDataContract" />
  <xs:complexType name="NamespaceDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="VersionNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NamespaceDataContract" nillable="true" type="tns:NamespaceDataContract" />
</xs:schema>