MVC Tutorial/Service References/DataContractTutorial/IDataContractTutorial.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IDataContractTutorial" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65243/Service/IDataContractTutorial.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65243/Service/IDataContractTutorial.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65243/Service/IDataContractTutorial.svc?xsd=xsd2" namespace="MyNamespace" />
      <xsd:import schemaLocation="http://localhost:65243/Service/IDataContractTutorial.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF_Tutorial.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIDataContractTutorial_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IIDataContractTutorial_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IIDataContractTutorial_KnownTypeExample_InputMessage">
    <wsdl:part name="parameters" element="tns:KnownTypeExample" />
  </wsdl:message>
  <wsdl:message name="IIDataContractTutorial_KnownTypeExample_OutputMessage">
    <wsdl:part name="parameters" element="tns:KnownTypeExampleResponse" />
  </wsdl:message>
  <wsdl:portType name="IIDataContractTutorial">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IIDataContractTutorial/DoWork" message="tns:IIDataContractTutorial_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIDataContractTutorial/DoWorkResponse" message="tns:IIDataContractTutorial_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KnownTypeExample">
      <wsdl:input wsaw:Action="http://tempuri.org/IIDataContractTutorial/KnownTypeExample" message="tns:IIDataContractTutorial_KnownTypeExample_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIDataContractTutorial/KnownTypeExampleResponse" message="tns:IIDataContractTutorial_KnownTypeExample_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIDataContractTutorial" type="tns:IIDataContractTutorial">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IIDataContractTutorial/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KnownTypeExample">
      <soap:operation soapAction="http://tempuri.org/IIDataContractTutorial/KnownTypeExample" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IDataContractTutorial">
    <wsdl:port name="BasicHttpBinding_IIDataContractTutorial" binding="tns:BasicHttpBinding_IIDataContractTutorial">
      <soap:address location="http://localhost:65243/Service/IDataContractTutorial.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>